body{
    height: 100vh;
    background-image:url(/Images/Table/bgpoker.svg);
    background-repeat: repeat;
    background-size:300px 300px;
    margin:0px;
}

#container{
    display:grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 1fr 340px 1fr;
    height:100vh;
}

#dealerScoreContent,#playerScoreContent{
    display:block;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.6);
    color:red;
    flex-wrap: wrap;
}
#dealerContent, #playerContent{
    display:flex;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.6);
}

#gameContent{
    grid-column: 1/-1;
    display:flex;
    justify-content:center;
    align-items: center;
}

#start{
    width:80px;
    height:60px;
}

.card, .dcard{
    width:100px;
    height:auto;
    margin:20px;
    perspective: 1000px;
    border:none;
}

