body{
    height: 100vh;
    background-image:url(/Images/Table/bgpoker.svg);
    background-repeat: repeat;
    background-size:300px 300px;
    margin:0px;
}

#container{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    height:100%;
}

#card{
    width:200px;
    height:auto;
    animation-name: cardIn;
    animation-duration: 1s;
    margin:20px;
    perspective: 1000px;
}

#deck{
    width:200px;
    height:auto;
    position: absolute;
    top:100px;
    left:100px;
    perspective: 1000px;
}

@keyframes cardIn{
    0% {
        transform: translate(-500px,-500px);
    }
    100%{
        transform: translateY(0);
    }
}
